<a href="https://colab.research.google.com/github/Nelsonricardonarra/ESTAGIO-IV/blob/main/TAREFA_1_EM_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

numeros = [1,2,3,4,5,6,7,8,9,10]
print(numeros)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
LIST=['Sanduíche','Refrigerante','Maionese','Mostarda','Guardanapo']
print(LIST)

['Sanduíche', 'Refrigerante', 'Maionese', 'Mostarda', 'Guardanapo']

In [ ]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string (com um espaço entre elas)
str= "João"
str=str + " Pessoa"
str

'João Pessoa'

In [ ]:
# Exercício 4 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo um inteiro, o terceiro um float e quarto um booleano.
# Imprima a lista na tela.
str= "Prova"
dia= "19"
hora= "18.3"
nota= "00001010"
list=[str,dia,hora,nota]
print(list)

['Prova', '19', '18.3', '00001010']

In [ ]:
# Exercício 5 - Considere a string abaixo. Imprima na tela apenas o nome "atuaria".
curso = "ciências atuariais"
curso[9:16]

'atuaria'

In [ ]:
# Exercício 6 - Crie uma variável tipo inteira e converta para tipo float.
x=384
print(f'Na representação floot do  inteiro 384 com uma casa decimal é {x:.1f}')

Na representação floot do  inteiro 384 com uma casa decimal é 384.0

In [ ]:
# Exercício 7 - Faça uma divisão retorando um número inteiro como resultado

x=100
y=30
x//y

3

In [ ]:
# Exercício 8 - Imprima a frase "Palmeiras não tem mundial" cinco vezes, através de código e sem digitar mais de uma vez a frase.# Exercício 8 - Imprima a frase "Palmeiras não tem mundial" cinco vezes, através de código e sem digitar mais de uma vez a frase. 
for i in range(5):
    print("Palmeiras não tem mundial")

Palmeiras não tem mundial
Palmeiras não tem mundial
Palmeiras não tem mundial
Palmeiras não tem mundial
Palmeiras não tem mundial

In [ ]:
# Exercício 9 - Crie cada uma das 5 classes de variaveis ensinadas e imprima o tipo da variavel
#(sem escrever o nome da variável).

A=2
B=4.5 
C="ESTÁGIO"
D=["TRABALHO",'EXPERIÊNCIA',"RECONHECIMENTO","REMUNERAÇÃO"]
E=True
variáveis=["A","B","C","D","E"]
type(A),type(B),type(C),type(D),type(E)

(int, float, str, list, bool)

In [ ]:
# Exercício 10 - Dada a lista de compras abaixo, substitua maças por bananas 
listadomercado = ["ovos", "farinha", "leite", "maças"]
listadomercado[3]="bananas"
print(listadomercado)

['ovos', 'farinha', 'leite', 'bananas']

In [ ]:
# Exercício 11 - Print a lista de compras abaixo, sem o item "ovos" 
listadomercado = ["ovos", "farinha", "leite", "maças"]
listadomercado.pop(0)
print(listadomercado)

['farinha', 'leite', 'maças']

In [ ]:
# Exercício 12 - Dada a lista de compras abaixo, adicione cerveja, carne e carvão (#sextou) e imprima a nova lista.
listadomercado = ["ovos", "farinha", "leite", "maças"]
listadomercado+=["cerveja","carne","carvão","(#sextou)"]
print(listadomercado)

['ovos', 'farinha', 'leite', 'maças', 'cerveja', 'carne', 'carvão', '(#sextou)']

In [ ]:
# Exercício 13 - Print a lista de compras abaixo, sem o item "farinha" 
listadomercado = ["ovos", "farinha", "leite", "maças"]
listadomercado.pop(1)
print(listadomercado)

In [ ]:
# Exercício 14 - Arredonde a variável x para 1.
x = 9 / 10
print(round(x))

1